@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: "Stag Sans LC TT Medium";
  src: url("./fonts/StagSansLCTT-Medium.woff") format("woff"),
    url("./fonts/StagSansLCTT-Medium.woff2"),
    url("./fonts/Stag-Sans-Medium-Web.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  box-sizing: border-box;
  font: sans-serif;
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: #fed16e;
  font-family: "Stag Sans LC TT Medium", "Arial", sans-serif;
  min-width: 860px;
  max-width: 1800px;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
